# Generate with commnad:
# kubeseal --format yaml --cert sealed-secrets/overlays/dev/dev-pub.pem < \
# cert-manager/overlays/dev/api-token-secret.yaml > \
# cert-manager/overlays/dev/api-token-sealedsecret.yaml
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-api-token
  namespace: cert-manager
type: Opaque
stringData:
  api-token: "SEU_CLOUDFLARE_API_TOKEN"